Resources:
  DicomS3AccessPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: DicomS3Access
      Roles:
        - aws-elasticbeanstalk-ec2-role
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action: [s3:PutObject, s3:GetObject, s3:DeleteObject]
            Resource: arn:aws:s3:::medical-dicom-store/*
          - Effect: Allow
            Action: [s3:ListBucket]
            Resource: arn:aws:s3:::medical-dicom-store